<ng-container *ngIf="hasComponents">
	<div class="form-components-container" [class]="component.class || ''">
		<ng-container *ngFor="let comp of component.components; index as i">
			<form-component
				*ngIf="!this.component.hidden"
				[class]="config.formId + '_' + index+'_'+i + ' ' +(component.class || '')"
				class="w-forms__component"
				[component]="comp"
				[submition]="this.submition"
				[config]="this.config"
				(wSubmit)="this.wSubmit.emit(this.submition)"
				(wChange)="this.wChange.emit()"
				(wClick)="this.wClick.emit()"
				[index]="index+'_'+i"
			></form-component>
		</ng-container>
	</div>
</ng-container>

<ng-container
	*ngIf="component.name && template && (!component.key || localKey && localSubmition)"
>
	<div class="form-container">
		<ng-container
			*ngTemplateOutlet="
				template;
				context: {
					$implicit: {
						field: field,
						config: config,
						component: component,
						key: localKey,
						submition: localSubmition,
						wSubmit: submit.bind(this),
						wChange: change.bind(this),
						wClick: click.bind(this)
					}
				}
			"
		></ng-container>
	</div>
</ng-container>
