<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
  <div class="documents-container">
    <div class="documents-list">
      <!-- Burger -->
      <div class="burger-wrap" (click)="isMenuOpen = !isMenuOpen" [class.burger-wrap--open]="isMenuOpen">
        <div class="burger" [class.burger--close]="isMenuOpen"></div>
      </div>
      <!-- Sidebar -->
      <div class="documents-sidebar" [class.documents-sidebar--open]="isMenuOpen">
        <div class="documents-sidebar-content">
          <div class="documents-sidebar__img">
            <img src="assets/default.png" alt="Materials" />
          </div>
          <div class="documents-sidebar__title">
            Категорії матеріалів
          </div>
          <!-- Фільтр по назві -->
          <div class="documents-sidebar__search">
            <input
              type="text"
              placeholder="🔍 Пошук категорії"
              [(ngModel)]="searchTerm"
            />
          </div>
        </div>
      </div>
      <!-- Main Content -->
      <div class="documents-main">
        <div class="documents-main-content">
          <div *ngFor="let category of filteredCategories" class="documents-main-row">
            <a 
              [href]="category.link"
              target="_blank"
              rel="noopener noreferrer"
              class="material-card"
            >
              <div class="documents-sidebar__img property__img">
                <img [src]="category.image || 'assets/default.png'" alt="{{category.label}}">
              </div>
              <div class="documents__title">{{ category.label }}</div>
            </a>
          </div>
          <div *ngIf="filteredCategories.length === 0" class="documents-main-row">
            <div class="documents__title">Нічого не знайдено</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
