@use 'src/scss/utils/mixins' as mixins;
@use 'src/scss/utils/media' as media;
@use 'src/scss/utils/vars' as vars;

#html .modal {
  padding: 20px;

  &-content {
    background: var(--c-bg-secondary);
    border-radius: vars.$b-radius;
    border: 1px solid var(--c-border);
    max-width: 700px;
    padding-top: 45px;
  }
  .close {
    top: -2px;
    right: 5px;

    font-size: 50px;
  }
  .close:hover {
    color: var(--c-text-secondary);
  }
}


#html body._modal-small .modal-content,
#html .forms_modal .modal-content {
  max-width: 500px;
  width: 100%;
}

.modal {
	position: fixed; /* Stay in place */
	z-index: 9999; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow-y: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	position: relative;
	background-color: #fff;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 40px 20px 20px 20px;
	border: 1px solid #888;
	min-width: 20%; /* Could be more or less, depending on screen size */
	max-width: 80%; /* Could be more or less, depending on screen size */
	@media screen and (max-width: 767px) {
		max-width: 100% !important;
	}
}

/* The Close Button */
.close {
	color: #aaa;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 32px;
	line-height: 1;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.big {
	.modal-content {
		margin-top: 5%!important;
		margin-bottom: 0!important;
		max-width: 100%!important;
	}
}
