<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
  <div class="documents-container">
    <div class="documents-list">

      <!-- Burger Menu -->
      <div
        class="burger-wrap"
        (click)="isMenuOpen = !isMenuOpen"
        [class.burger-wrap--open]="isMenuOpen"
      >
        <div class="burger" [class.burger--close]="isMenuOpen"></div>
      </div>

      <!-- Sidebar -->
      <div
        class="documents-sidebar"
        [class.documents-sidebar--open]="isMenuOpen"
      >
        <div class="documents-sidebar-content">
          <div class="documents-sidebar__img">
            <img src="assets/default.png" alt="Worker Image" />
          </div>
          <div class="documents-sidebar__title">
            {{ worker.name }}
          </div>
          <div class="documents-sidebar__description">
            <wbutton (click)="update(worker)">Edit</wbutton>
            <wbutton (click)="delete(worker)">Delete</wbutton>
          </div>
        </div>
      </div>

      <!-- Main Content -->
      <div class="documents-main">
    	<div class="prop-details">

          <div class="worker__name">
            <h2>{{ worker.name }}</h2>
          </div>

          <div class="worker-detail">
            <span class="material-icons">location_on</span>
            <strong>Region:</strong>
            <span class="worker-loc__title">{{ worker.region }}</span>
          </div>

          <div class="worker-detail">
            <span class="material-icons">location_city</span>
            <strong>City:</strong>
            <span class="worker-loc__title">{{ worker.city }}</span>
          </div>

          <div class="worker-detail">
            <span class="material-icons">build</span>
            <strong>Position:</strong>
            <span class="worker-loc__title">{{ worker.position }}</span>
          </div>

          <div class="worker-detail">
            <span class="material-icons">work</span>
            <strong>Experience:</strong>
            <span class="worker-loc__title">{{ worker.experience }} years</span>
          </div>

          <div class="worker-detail">
            <span class="material-icons">task</span>
            <strong>Task:</strong>
            <span class="worker-loc__title">{{ worker.task }}</span>
          </div>

          <div class="worker-detail">
            <span class="material-icons">check_circle</span>
            <strong>Status:</strong>
            <span class="worker-loc__title">{{ worker.status }}</span>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
