<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
  <div class="documents-container">
    <div class="documents-list">

      <!-- Burger Menu -->
      <div
        class="burger-wrap"
        (click)="isMenuOpen = !isMenuOpen"
        [class.burger-wrap--open]="isMenuOpen"
      >
        <div class="burger" [class.burger--close]="isMenuOpen"></div>
      </div>

      <!-- Sidebar -->
      <div
        class="documents-sidebar"
        [class.documents-sidebar--open]="isMenuOpen"
      >
        <div class="documents-sidebar-content">
          <div class="documents-sidebar__img">
            <img src="assets/default.png" alt="Photo" />
          </div>
          <div class="documents-sidebar__title">
            {{ worker.name }}
          </div>
          <div class="documents-sidebar__description">
            <wbutton (click)="update(worker)">Edit</wbutton>
            <wbutton (click)="delete(worker)">Delete</wbutton>
          </div>
        </div>
      </div>

      <!-- Main Content -->
      <div class="documents-main">
        <div class="workerprofile-details">
          <!-- FLEX Рядок: Фото + Текст -->
          <div class="workerprofile-inner">
            <div class="worker-image" *ngIf="worker.thumb">
                    <img [src]="apiUrl + worker.thumb"
								alt="Photo"
								(error)="onImageError($event)"
							/>
            </div>
            <div class="workerprofile-info">
              <div class="worker__name" *ngIf="worker.name">
                <h2>{{ worker.name }}</h2>
              </div>

              <div class="worker-detail" *ngIf="worker.region">
                <span class="material-icons">location_on</span>
                <strong>Region:</strong>
                <span class="worker-loc__title">{{ worker.region }}</span>
              </div>

              <div class="worker-detail" *ngIf="worker.city">
                <span class="material-icons">location_city</span>
                <strong>City:</strong>
                <span class="worker-loc__title">{{ worker.city }}</span>
              </div>

              <div class="worker-detail" *ngIf="worker.position">
                <span class="material-icons">build</span>
                <strong>Position:</strong>
                <span class="worker-loc__title">{{ worker.position }}</span>
              </div>

              <div class="worker-detail" *ngIf="worker.experience">
                <span class="material-icons">work</span>
                <strong>Experience:</strong>
                <span class="worker-loc__title">{{ worker.experience }} years</span>
              </div>

              <div class="worker-detail" *ngIf="worker.task">
                <span class="material-icons">task</span>
                <strong>Task:</strong>
                <span class="worker-loc__title">{{ worker.task }}</span>
              </div>

              <div class="worker-detail" *ngIf="worker.status">
                <span class="material-icons">check_circle</span>
                <strong>Status:</strong>
                <span class="worker-loc__title">{{ worker.status }}</span>
              </div>
<!-- Контакти -->
<div class="worker-detail contacts-detail" *ngIf="worker.phone_number || worker.email">
  <span *ngIf="worker.phone_number" class="inner-contact">
    <span class="material-icons contact-icon">call</span>

    <span class="contact-value"><strong>{{ worker.phone_number }}</strong></span>
  </span>
  <span *ngIf="worker.email" class="inner-contact">
    <span class="material-icons contact-icon">mail</span>

    <span class="contact-value"><strong>{{ worker.email }}</strong></span>
  </span>
</div>

              <!-- Кінець блоку контактів -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
