
<div class="auth-wrapper" >
	<div class="auth__wrap">
		<div class="auth__form">
			<div class="auth">
				<span
					(click)="us.setMode('dark')"
					class="material-icons  auth__icon"
					*ngIf="!us.mode"
				>
					dark_mode
				</span>
				<span
					class="material-icons auth__icon"
					*ngIf="us.mode"
					(click)="us.setMode()"
				>
					light_mode
				</span>
				<wform (wSubmit)="submit()" [submition]="user" [config]="form">
				</wform>
				<div class="auth__language">
	<div class="lang-switch">
		<ng-container *ngFor="let lang of _translate.languages">
			<span
				class="lang"
				[class.active]="lang.code === _translate.language.code"
				(click)="set_language(lang.code)"
			>
				{{ lang.code }}
			</span>
			<span *ngIf="lang !== _translate.languages[_translate.languages.length - 1]">|</span>
		</ng-container>
	</div>
	<strong><span translate>Sign.Set Language</span></strong>
</div>

				</div>
				
			</div>
	</div>
</div>
