.documents-sidebar__search,
.documents-sidebar__filter,
.documents-sidebar__create {
  
  
  margin-bottom: 1rem;

  input,
  select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background: #fff;
    color: #111;
  }
}
.record-analytics {
  margin-top: 8px;

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 6px;

    span {
      color: var(--c-text-secondary);
    }

    strong {
      color: var(--c-text-primary);
      margin-left: auto;
      font-weight: 600;
    }

    .material-icons {
      font-size: 18px;
      color: #528df4;
    }
  }
}
