<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
  <div class="documents-container">
    <div class="documents-list">

      <!-- Бургер -->
      <div class="burger-wrap" (click)="isMenuOpen = !isMenuOpen" [class.burger-wrap--open]="isMenuOpen">
        <div class="burger" [class.burger--close]="isMenuOpen"></div>
      </div>

      <!-- Сайдбар -->
      <div class="documents-sidebar" [class.documents-sidebar--open]="isMenuOpen">
        <div class="documents-sidebar-content">
          <div class="documents-sidebar__img">
            <img src="assets/default.png" alt="Sidebar image" />
          </div>

          <div class="documents-sidebar__title">
            <span translate>Record.Property Records</span></div>

          <!-- Пошук -->
<div class="documents-sidebar__search">
  <input
    type="text"
    [placeholder]="'🔍 ' + getTranslated('Search')"
    [(ngModel)]="searchTerm"
    (ngModelChange)="load()"
  />
</div>


          <!-- Тип запису -->
            <div class="documents-sidebar__filter">
            <select [(ngModel)]="type" (ngModelChange)="load()">
              <option value=""><span translate>Record.All types</span></option>
              <option value="{{'Common.sell / buy payment' | translate}}">
                <span translate>Record.sell / buy payment</span></option>
              <option value="{{'Common.service'| translate}}">
                <span translate>Record.service</span></option>
              <option value="{{'Common.materials' |translate}}">
               <span translate>Record.materials </span></option>
              <option value="{{'Common.rent payment' | translate}}">
                <span translate>Record.rent</span></option>
              <option value="{{'Common.incident' | translate}}">
                <span translate>Record.incident</span></option>
            </select>
          </div>


          <!-- Діапазон дат -->
          <div class="documents-sidebar__filter">
            <input type="date" [(ngModel)]="dateStart" (ngModelChange)="load()" placeholder="Date from" />
          </div>
          <div class="documents-sidebar__filter">
            <input type="date" [(ngModel)]="dateEnd" (ngModelChange)="load()" placeholder="Date to" />
          </div>

          <!-- Сортування -->
          <div class="documents-sidebar__filter">
            <select [(ngModel)]="sort" (ngModelChange)="load()">
              <option value="">
                <span translate>Record.Date ↓</span></option>
              <option value="asc">
                <span translate>Record.Date ↑</span></option>
            </select>
          </div>

          <!-- Додати запис -->
          <div class="documents-sidebar__create">
            <wbutton (click)="create()">➕ 
              <span translate>Button.Add</span>
            </wbutton>
          </div>

          <!-- Аналітика -->
          <div class="documents-sidebar__description" *ngIf="propertyRecords.length">
  <div class="record-analytics-box">
    <p><strong><span translate>Record.Total cost:</span></strong> {{ totalCost }} $</p>
    <div *ngFor="let typeKey of (costByType | keyvalue)">
      <p><strong>{{ typeKey.key }}:</strong> {{ typeKey.value }} $</p>
    </div>
  </div>
</div>

        </div>
      </div>

      <!-- Основна частина -->
      <div class="documents-main">
        <div class="documents-main-content">
          <div *ngIf="propertyRecords.length; else noResults">
            <div *ngFor="let record of propertyRecords" class="documents-main-row">
              <app-history [record]="record" (load)="load()"></app-history>
            </div>
          </div>
          <ng-template #noResults>
            <p class="record-no"><span translate>
              Record.No records found for selected filters.</span></p>
          </ng-template>
        </div>
      </div>

    </div>
  </div>
</div>
