<div *ngIf="worker" class="worker worker-card">
  <div class="documents-sidebar__img property__img">
    <a class="documents" [routerLink]="['/workerprofile', worker._id]">
      <!-- <img [src]="worker.photo || 'assets/default.png'" alt="Worker photo" />-->
    </a>
  </div>

  <a [routerLink]="['/workerprofile', worker._id]" class="worker__name">
    <div class="worker__name-row">
      <div class="documents__title">{{ worker.name }}</div>
    </div>
  </a>

  <div class="worker-details">

    <div class="worker-detail">
      <div class="worker-loc__img">
        <span class="material-icons">location_on</span>
      </div>
      <strong>Region:</strong>
      <span class="worker-loc__title">{{ worker.region }}</span>
    </div>

    <div class="worker-detail">
      <div class="worker-loc__img">
        <span class="material-icons">location_city</span>
      </div>
      <strong>City:</strong>
      <span class="worker-loc__title">{{ worker.city }}</span>
    </div>

    <div class="worker-detail">
      <div class="worker-loc__img">
        <span class="material-icons">build</span>
      </div>
      <strong>Position:</strong>
      <span class="worker-loc__title">{{ worker.position }}</span>
    </div>

    <div class="worker-detail">
      <div class="worker-loc__img">
        <span class="material-icons">work</span>
      </div>
      <strong>Experience:</strong>
      <span class="worker-loc__title">{{ worker.experience }} years</span>
    </div>

    <div class="worker-detail">
      <div class="worker-loc__img">
        <span class="material-icons">task</span>
      </div>
      <strong>Task:</strong>
      <span class="worker-loc__title">{{ worker.task }}</span>
    </div>

    <div class="worker-detail">
      <div class="worker-loc__img">
        <span class="material-icons">check_circle</span>
      </div>
      <strong>Status:</strong>
      <span class="worker-loc__title">{{ worker.status }}</span>
    </div>

    <!-- Обʼєднаний блок для телефону та email -->
     
<div class="worker-detail" *ngIf="worker.phone_number || worker.email">
  <span class="worker-loc__title contact-inline">
    <ng-container *ngIf="worker.phone_number">
      <span class="inner-contact">
        <div class="worker-loc__img">
          <span class="material-icons contact-icon">call</span>
        </div>
       <strong>{{ worker.phone_number }}</strong> 
      </span>
    </ng-container>

    <ng-container *ngIf="worker.email">
      <span class="inner-contact">
        <div class="worker-loc__img">
          <span class="material-icons contact-icon">mail</span>
        </div>
         <strong>{{ worker.email }}</strong>
      </span>
    </ng-container>
  </span>
</div>




  </div>
</div>
