<div *ngIf="worker" class="worker-card">
	<div class="documents-sidebar__img property__img">
		<a class="documents" [routerLink]="['/workerprofile', worker._id]">
		</a>
	</div>

	<a [routerLink]="['/workerprofile', worker._id]" class="worker__name">
		<div class="documents__title">{{ worker.name }}</div>
	</a>

	<div class="worker-details">
		<div class="worker-detail"><strong>Name:</strong> {{ worker.name }}</div>
		<div class="worker-detail"><strong>Position:</strong> {{ worker.position }}</div>
		<div class="worker-detail"><strong>Experience:</strong> {{ worker.experience }} years</div>
		<div class="worker-detail"><strong>Task:</strong> {{ worker.task }}</div>
		<div class="worker-detail"><strong>Status:</strong> {{ worker.status }}</div>
	</div>
