<div class="worker-card">
	<a>
		<div class="documents__fullname">full name</div>
		<div class="documents__position">position</div>
		<div class="documents__fullname">experience</div>
		<div class="documents__fullname">task</div>
		<div class="documents__fullname">contakts</div>
		<div class="documents__status">
			<link
				href="https://fonts.googleapis.com/icon?family=Material+Icons"
				rel="stylesheet"
			/>

			<span class="material-icons" style="color: rgb(13, 200, 13)"
				>circle</span
			>
			<span class="material-icons" style="color: rgb(255, 0, 0)"
				>circle</span
			>
			status
		</div>
	</a>

	<a routerLink="//{{provider._id}}" class="nav__burger-link">
		<span class="material-icons">task</span>
	</a>
</div>

<div class="worker-card">
	<a>
		<div class="documents__fullname">full name</div>
		<div class="documents__position">position</div>
		<div class="documents__fullname">experience</div>
		<div class="documents__fullname">task</div>
		<div class="documents__fullname">contakts</div>
		<div class="documents__status">
			<link
				href="https://fonts.googleapis.com/icon?family=Material+Icons"
				rel="stylesheet"
			/>

			<span class="material-icons" style="color: rgb(13, 200, 13)"
				>circle</span
			>
			<span class="material-icons" style="color: rgb(255, 0, 0)"
				>circle</span
			>
			status
		</div>
	</a>
</div>