

<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen"> 
    <div class="documents-container">
        <div class="documents-list">
            <div class="burger-wrap" class="burger-wrap"  (click)="isMenuOpen=!isMenuOpen" [class.burger-wrap--open]="isMenuOpen">
                <div class="burger" [class.burger--close]="isMenuOpen"></div>
            </div> 
            <div class="documents-sidebar" [class.documents-sidebar--open]="isMenuOpen">
                <div class="documents-sidebar-content">
                    <div class="documents-sidebar__img">
                        <img src="assets/default.png" alt="">
                    </div>
                    <div class="documents-sidebar__title">
                        Title of sidebar...
                    </div>
                    <div class="documents-sidebar__description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint molestiae consequatur quae. Modi corporis rem amet tempore debitis assumenda minima repellat labore expedita quam. Itaque accusamus culpa ullam necessitatibus nisi.
                    </div>
                </div>
            </div>
            <div class="documents-main">
                <div class="documents-main-content">
                    <div  class="documents-main-row">
                        <p>Page Markets is connected</p>


                        <section>title: Market</section>
                        <section>description: Сторінка для продажу та купівлі нерухомості.</section>
                        <section>listings with property details and contact options</section>
                        <section>search bar and filters (location, price range, property type)</section>
                        <section>for user: button to add new listing</section>
                        
                    </div>
                </div>
            </div>
  
        </div>
    </div>
  </div>
  