<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
  <div class="documents-container">
    <div class="documents-list">

      <!-- Бургер -->
      <div class="burger-wrap" (click)="isMenuOpen = !isMenuOpen" [class.burger-wrap--open]="isMenuOpen">
        <div class="burger" [class.burger--close]="isMenuOpen"></div>
      </div>

      <!-- Sidebar -->
      <div class="documents-sidebar" [class.documents-sidebar--open]="isMenuOpen">
        <div class="documents-sidebar-content">
          <div class="documents-sidebar__img">
            <img src="assets/default.png" alt="Photo" />
          </div>
          <div class="documents-sidebar__title">{{ property.name }}</div>
          <div class="documents-sidebar__description">
            <wbutton (click)="update(property)">
              <span class="material-icons">edit</span> 
              <span translate>Button.Edit</span>
            </wbutton>
            <wbutton (click)="delete(property)">
              <span class="material-icons">delete</span>
              <span translate>Button.Delete</span>
            </wbutton>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <div class="documents-main">
        <!-- Контейнер з контентом та зображенням -->
        <div class="prop-wrap">
          <div class="prop-details">
            
          <div class="prop-image">
          <img [src]="apiUrl + property.thumb"
								alt="Photo"
								(error)="onImageError($event)"
							/>
          </div>
            <!-- General -->
            <div class="prop-section" *ngIf="property.description || property.status || property.price">
              <h3><span class="material-icons">info</span> 
                <span translate>Property.General</span> </h3>
              <div *ngIf="property.description" class="prop-row">
                <strong><span translate>Property.Description:</span></strong> {{ property.description }}
              </div>
              <div *ngIf="property.status" class="prop-row">
                <strong><span translate>Property.Status:</span></strong> {{ property.status }}
              </div>
              <div *ngIf="property.price" class="prop-row">
                <strong><span translate>Property.Price:</span></strong> {{ property.price }} $
              </div>
            </div>

            <!-- Location -->
            <div class="prop-section" *ngIf="property.region || property.city || property.address">
              <h3><span class="material-icons">location_on</span>
                <span translate>Property.Location</span> </h3>
              <div *ngIf="property.region" class="prop-row">
                <strong>
                  <span translate>Property.Region:</span></strong> 
                {{ property.region }}
              </div>
              <div *ngIf="property.city" class="prop-row">
                <strong><span translate>Property.City:</span></strong> {{ property.city }}
              </div>
              <div *ngIf="property.address" class="prop-row">
                <strong><span translate>Property.Address:</span></strong> {{ property.address }}
              </div>
            </div>

            <!-- Type -->
            <div class="prop-section" *ngIf="property.type || property.buildingtype">
              <h3><span class="material-icons">home</span> 
                <span translate>Property.Type</span></h3>
              <div *ngIf="property.type" class="prop-row">
                <strong><span translate>Property.Type:</span></strong> {{ property.type }}
              </div>
              <div *ngIf="property.buildingtype" class="prop-row">
                <strong><span translate>Property.Building type:</span></strong> {{ property.buildingtype }}
              </div>
            </div>

            <!-- Specs -->
            <div class="prop-section" *ngIf="property.area || property.rooms || property.floor">
              <h3><span class="material-icons">domain</span>
              <span translate>Property.Specs</span></h3>
              <div *ngIf="property.area" class="prop-row">
                <strong><span translate>Property.Area:</span></strong> {{ property.area }}m²
              </div>
              <div *ngIf="property.rooms" class="prop-row">
                <strong><span translate>Property.Rooms:</span></strong> {{ property.rooms }}
              </div>
              <div *ngIf="property.floor" class="prop-row">
                <strong><span translate>Property.Floor:</span></strong> {{ property.floor }}
              </div>
            </div>

            <!-- Other -->
            <div class="prop-section" *ngIf="property.renovation || property.appliances || property.utilities || property.nearby">
              <h3><span class="material-icons">construction</span>
                <span translate>Property.Other</span></h3>
              <div *ngIf="property.renovation" class="prop-row">
                <strong><span translate>Property.Renovation:</span></strong> {{ property.renovation }}
              </div>
              <div *ngIf="property.appliances" class="prop-row">
                <strong><span translate>Property.Appliances:</span></strong> {{ property.appliances }}
              </div>
              <div *ngIf="property.utilities" class="prop-row">
                <strong><span translate>Property.Utilities:</span></strong> {{ property.utilities }}
              </div>
              <div *ngIf="property.nearby" class="prop-row">
                <strong><span translate>Property.Nearby:</span></strong> {{ property.nearby }}
              </div>
            </div>
            
          </div>


        <!-- Records -->
        <div class="prop-details">
          <div class="prop-section">
            <h3><span class="material-icons">history</span>
              <span translate>Property.Records</span></h3>
            <div *ngIf="records.length > 0; else noRecords">
              <div *ngFor="let record of records.slice(0, 3)" class="record-preview" (click)="goToRecord(record._id)">
                <div class="record-preview__title">{{ record.name }}</div>
                <div class="record-preview__date">
                  {{ record.createdAt | date | date: 'd MMMM y' }}
                </div>
                <div class="record-preview__desc">{{ record.description }}</div>
              </div>
              <a class="record-see-all" [routerLink]="['/propertieshistories', property._id]">
                <span class="material-icons">chevron_right</span> 
                <span translate>Property.See full history</span>
              </a>
            </div>
            <ng-template #noRecords>
              <p class="record-no">
                <span translate>Property.No records available.</span> </p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
