<div class="documents-sidebar__img property__img">

  <!-- Зображення -->
  <a class="documents" [routerLink]="'/propertyhistory/' + record._id">
  </a>

  <!-- Назва -->
  <a [routerLink]="'/propertyhistory/' + record._id" class="property__name">
    <div class="documents__title">{{ record.name }}</div>
  </a>

  <!-- Тип запису -->
  <a [routerLink]="'/propertyhistory/' + record._id" class="property-loc">
    <div class="property-loc__img">
      <span class="material-icons">category</span>
    </div>
    <div class="documents__title property-loc__title">{{ record.type }}</div>
  </a>

  <!-- Вартість -->
  <a [routerLink]="'/propertyhistory/' + record._id" class="property-loc">
    <div class="property-loc__img">
      <span class="material-icons">payments</span>
    </div>
    <div class="documents__title property-loc__title">{{ record.cost }} $</div>
  </a>

  <!-- Дата -->
  <a [routerLink]="'/propertyhistory/' + record._id" class="property-loc">
    <div class="property-loc__img">
      <span class="material-icons">event</span>
    </div>
    <div class="documents__title property-loc__title">
    {{ record.createdAt | date: 'd MMMM y' }}
    </div>
  </a>

  <!-- Виконавець (якщо є) -->

  <!-- Дії -->
  <div class="property-links">
    <div class="property-links__wrap">
      <span class="material-icons" (click)="update(record)">edit</span>
    </div>
    <div class="property-links__wrap">
      <span class="material-icons" (click)="delete()">delete</span>
    </div>
  </div>

</div>
