<ng-template #templateRef let-data>
	<div class="pass_container">
		<winput
			[value]="data.submition[data.key]"
			(wChange)="
				data.submition[data.key] = $event;
				data.wChange()
			"
			[type]="data.field.Show ? 'text' : 'password'"
			[placeholder]="data.field.Placeholder"
			[name]="data.field.Label || 'name'"
			[focused]="data.component.focused"
			[ngClass]="data.component.class"
			[setFocus]="data.component"
			[label]="data.field.Label"
			(wSubmit)="data.wSubmit()"
			type="password"
		></winput>
		<div class="smart">
			<span class="red" *ngIf="ui.level(data.value)> 1"></span>
			<span class="orange" *ngIf="ui.level(data.value)> 2"></span>
			<span class="yellow" *ngIf="ui.level(data.value)> 3"></span>
			<span class="green" *ngIf="ui.level(data.value)> 4"></span>
		</div>
		<div class="eye">
			<span
				(click)="data.field.Show = !data.field.Show"
				class="material-icons"
			>
				visibility
			</span>
		</div>
	</div>
</ng-template>
