.pass_container {
	position: relative;
}

.smart {
    position: absolute;
	right: 0;
    top: 0;
}

.red {
    width: 3px;
    height: 8px;
    background-color: rgb(187, 23, 23);
    display: inline-block;
    margin-left: 5px;
}

.orange {
    width: 3px;
    height: 10px;
    background-color: rgb(235, 151, 25);
    display: inline-block;
    margin-left: 5px;
}

.yellow {
    width: 3px;
    height: 12px;
    background-color: rgb(255, 251, 0);
    display: inline-block;
    margin-left: 5px;
}

.green {
    width: 3px;
    height: 14px;
    background-color: rgb(33, 211, 17);
    display: inline-block;
    margin-left: 5px;
}

.eye {
	position: relative;
    cursor: pointer;
	span {
		position: absolute;
		top: -32px;
		right: 10px;
		font-size: 22px;
		color: var(--c-text-primary);
	}
}

@media screen and (max-width: 768px) {
    .red {
        width: 3px;
        height: 8px;
        background-color: rgb(187, 23, 23);
        display: inline-block;
        margin-left: 5px;
    }

    .orange {
        width: 3px;
        height: 10px;
        background-color: rgb(235, 151, 25);
        display: inline-block;
        margin-left: 5px;
    }

    .yellow {
        width: 3px;
        height: 12px;
        background-color: rgb(255, 251, 0);
        display: inline-block;
        margin-left: 5px;
    }

    .green {
        width: 3px;
        height: 14px;
        background-color: rgb(33, 211, 17);
        display: inline-block;
        margin-left: 5px;
    }

    #eye {
        position: absolute;
        left: 165px;
        top: 252px;
        font-size: 22px;
        color: rgb(90, 90, 90);
    }
}
