<div class="documents-main">
  <div class="documents-main-content">
    <ng-container *ngIf="category; else notfound">
      <h2>{{ category.label | translate }}</h2>
      <p>
        {{ 'materials.open_epicentr' | translate }}
      </p>
      <a [href]="category.link" target="_blank" rel="noopener noreferrer">
        {{ 'materials.open_on_epicentr' | translate }}
      </a>
      <br>
      <a routerLink="/propertiesmaterials">
        ← {{ 'materials.back_to_list' | translate }}
      </a>
    </ng-container>
    <ng-template #notfound>
      <p>{{ 'materials.not_found' | translate }}</p>
      <a routerLink="/propertiesmaterials">
        ← {{ 'materials.back' | translate }}
      </a>
    </ng-template>
  </div>
</div>
